.about {
  padding-top: 45px;
  padding-bottom: 45px;
  &__title {
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Neucha';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 88px;
    color: #fff;
  }
  &__descr {
    font-family: 'Andika';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 61px;
    text-indent: 30px;
    color: #471D45;
  }
}

@media (max-width: 1400px) {
  .about {
    &__title {
      text-shadow: 0 0 15px #f293ed;
    }
    &__descr {
      font-size: 26px;
      line-height: 32px;
      color: #471D45;
    }
  }
}

@media (max-width: 950px) {
  .about {
    &__title {
      margin-bottom: 20px;
      font-size: 50px;
      line-height: 58px;
      text-shadow: 0 0 15px #f293ed;
    }
    &__descr {
      font-size: 22px;
      line-height: 25px;
      color: #471D45;
    }
  }
}

@media (max-width: 610px) {
  .about {
    padding-top: 30px;
    padding-bottom: 30px;
    &__title {
      margin-bottom: 20px;
      font-size: 40px;
      line-height: 48px;
    }
    &__descr {
      font-size: 18px;
      line-height: 22px;
      color: #471D45;
    }
  }
}

