.experiments {
  padding-top: 45px;
  padding-bottom: 45px;
  &__title {
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Neucha';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 88px;
    color: #fff;
    text-shadow: 0 0 15px #f293ed;
  }
  &__descr {
    margin-bottom: 20px;
    font-family: 'Andika';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-indent: 30px;
    text-align: justify;
    color: #471D45;
  }
  &__galery {
    margin: 0 auto;
    margin-top: 40px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
  }
  &__galery-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  &__galery-pic {
    margin: 0 auto;
    display: block;
    width: 500px;
    object-fit: contain;
  }
}

.slick-prev {
  position: absolute;
  top: 50%;
  left: -36px;
  transform: translateY(-50%);
  border: none;
  background-color: transparent;
  img {
    width: 50px;
    height: 50px;
  }
}

.slick-next {
  position: absolute;
  top: 50%;
  right: -36px;
  transform: translateY(-50%);
  border: none;
  background-color: transparent;
  img {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 1400px) {
  .experiments {
    &__descr {
      font-size: 26px;
      line-height: 32px;
    }
  }
}

@media (max-width: 950px) {
  .experiments {
    &__title {
      font-size: 50px;
      line-height: 58px;
    }
    &__galery {
      width: 400px;
    }
  }

  .slick-prev {
    left: -60px;
  }

  .slick-next {
    right: -60px;
  }
}

@media (max-width: 610px) {
  .experiments {
    padding-top: 35px;
    padding-bottom: 35px;
    &__title {
      margin-bottom: 20px;
      font-size: 36px;
      line-height: 42px;
    }
    &__descr {
      font-size: 20px;
      line-height: 30px;
    }
    &__galery {
      max-height: 700px;
      width: 270px;
    }
    &__galery-pic {
      margin: 0 auto;
      display: block;
      width: 270px;
      object-fit: contain;
    }
    
  }
}

.slick-prev {
  // bottom: -200px;
  // left: 0;
  // transform: translateX(50%);
  img {
    width: 40px;
    height: 40px;
  }
}

.slick-next {
  // bottom: -200px;
  // right: 0;
  // transform: translateX(-50%);
  // width: 40px;
  // height: 40px;

  // right: 14px;
  // top: 258px;

  img {
    width: 40px;
    height: 40px;
  }
}