.price {
  padding-top: 45px;
  padding-bottom: 45px;
  &__title {
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Neucha';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 88px;
    color: #fff;
  }
  &__table {
    width: 100%;
    margin-bottom: 50px;
    thead {
      height: 65px;
      text-align: center;
      font-family: 'Neucha';
      font-weight: 400;
      font-size: 46px;
      letter-spacing: 2px;
      line-height: 48px;
      color: #471d45;
      th {
        width: 25%;
      }
    }
    tbody tr{
      height: 80px;
      text-align: center;
      vertical-align: middle;
      font-family: 'Neucha';
      font-weight: 400;
      font-size: 36px;
      line-height: 48px;
      color: #471d45;
      td {
        width: 25%;
      }
    }
  }
  &__first-td {
    text-align: left;
  }
  &__descr {
    margin-bottom: 25px;
    font-family: 'Neucha';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 55px;
    color: #471d45;
  }
  &__button-wrapper {
    display: flex;
    justify-content: center;
  }
  &__btn {
    display: block;
    width: 350px;
    height: 70px;
    margin-right: 147px;
    font-family: 'Neucha';
    font-weight: 400;
    font-size: 40px;
    color: #471d45;
    background-color: #ffffff;
    border-radius: 15px;
    border: none;
  }
}